body {
  background-color: teal;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-container {
  width: 20%;
  position: relative;
  background-color: white;
  padding-bottom: 20%;
}

@keyframes rotation {
  0%      { transform: rotate(0deg); }
  50%     { transform: rotate(-120deg); }
  100%    { transform: rotate(-360deg); }
}

#spinner {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: crimson;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotation 0.4s linear 5;
}

#spinner-center {
    width: 10%;
    height: 10%;
    background-color: black;
    border-radius: 50%;
    z-index: 1;
}

.segment {
  background-color: greenyellow;
  position: absolute;
  border-radius: 100%;
  height: 90%;
  width: 90%;
  background-image:
        linear-gradient(126deg, transparent 50%, crimson 50%),
        linear-gradient(90deg, crimson 50%, transparent 50%);
}
